/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@tabler/icons-webfont/dist/tabler-icons.min.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Tailwind CSS is loaded via @tailwind directives in the build process
@tailwind base;
@tailwind components;
@tailwind utilities;